<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_ObsPlug::obsplug"
             title="Admin Page"
             module="Test_ObsPlug"
             sortOrder="55"
             resource="Test_ObsPlug::obsplug"/>
        <add id="Test_ObsPlug::adminpage"
             title="Admin Page"
             module="Test_ObsPlug"
             action="obsplug/mypage"
             sortOrder="10"
             resource="Test_ObsPlug::test"
             parent="Test_ObsPlug::obsplug"/>
    </menu>
</config>
